<footer class="md-footer">

  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        With love from the Faculty of Social Science, University of Helsinki.<br/>
        <strong>Material under development. Comments? Ideas? <a href="javascript:issueEmbed.open()" color="white">Click here</a>.</strong>
      </div>
    </div>
  </div>
</footer>

<div id="issue-embed"></div>
<script src="https://cdn.issueembed.dev/v1/issue-embed.min.js"></script>
<script>
	issueEmbed.init(
		"#issue-embed",
		{
			key: "f1dd05bd-84cc-43b1-8cb8-047332586d46"
		}
	);
</script>
