<footer class="md-footer">

  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        With love from the Faculty of Social Science, University of Helsinki.<br/>
        <strong>Material under development.</strong>
      </div>
    </div>
  </div>
</footer>

<div id="issue-embed"></div>
<script src="https://cdn.issueembed.dev/v1/issue-embed.min.js"></script>
<script>
	issueEmbed.init(
		"#issue-embed",
		{
			key: "76d2c91d-73ce-4b18-9932-8debf69363b4"
		}
	);
</script>
